<html>
    <head>
        <title>VacationPortal</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="/public/style.css" rel="stylesheet" />
    </head>

    <body>


<header>
    <div class="center">
       <div class="logo">
        <a href="/"> <h2><span style="font-weight:lighter;">Vacation</span><b>Portal</b></h2></a>
        </div><!--logo-->
        <div class="form-search">
            <form action="/">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input name="search" type="text" placeholder="Search..." />
            </form>
        </div><!--formsearch-->
    </div><!--center-->
</header>